
___
# Introduction to Python for ML

Please note, this is not meant to be a comprehensive overview of Python or programming in general

**This notebook is just to give you the basic of python**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
3 + 3

6

In [2]:
2 * 3

6

In [3]:
4 / 2

2.0

In [5]:
2 ** 4

16

In [4]:
8 % 2

0

In [6]:
7 % 2

1

In [7]:
(2 + 3) * (3 + 2)

25

### Variable Assignment

Can not start with number or special characters

In [4]:
x = 3
y = 4

In [21]:
z = x + y

In [23]:
x = x + x

In [24]:
x

6

Example of invid variable assignment

In [25]:
10var = 5

SyntaxError: invalid syntax (<ipython-input-25-0dd5bd6e911a>, line 1)

In [26]:
$x = 4

SyntaxError: invalid syntax (<ipython-input-26-9b9b6047123e>, line 1)

### Strings

In [27]:
'Hello'

'Hello'

In [28]:
"Bello"

'Bello'

In [7]:
" I can't ride a roller coaster! "

" I can't ride a roller coaster! "

### Printing

In [32]:
x = 'hello'

In [33]:
x

'hello'

In [34]:
print(x)

hello

In [14]:
num = 18
name = 'Ayano'

In [15]:
print('Her name is {one}, and she is {two}.'.format(one=name,two=num))

Her name is Ayano, and she is 18.

In [16]:
print('Her name is {}, and she is {}.'.format(name,num))

Her name is Ayano, and she is 18.

Take the element inside the string

In [17]:
a = 'hello'

In [18]:
a[0]

'h'

In [19]:
a[1:3]

'el'

In [20]:
a[1:]

'ello'

In [21]:
a[:-1]

'hell'

In [23]:
a[:-2]

'hel'

### Lists

List can take any data type.

In [24]:
[1,2,3]

[1, 2, 3]

In [25]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [26]:
my_list = ['a','b','c']

Add item at the end of the index

In [ ]:
my_list.

In [27]:
my_list.append('d')

In [28]:
my_list

['a', 'b', 'c', 'd']

In [29]:
my_list[0]

'a'

In [30]:
my_list[1]

'b'

In [31]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[1:3]

['b', 'c']

In [35]:
my_list[0] = 'NEW'

In [36]:
my_list

['NEW', 'b', 'c', 'd']

example when list is inside a list.

In [38]:
nest = [1,2,3,[4,5,['target']]]

In [39]:
nest[3]

[4, 5, ['target']]

In [40]:
nest[3][2]

['target']

In [41]:
nest[3][2][0]

'target'

### Dictionaries

Dictionary behaves like  a key value pairs.

In [42]:
d = {'key1':'item1','key2':'item2'}

In [43]:
d

{'key1': 'item1', 'key2': 'item2'}

In [44]:
d['key1']

'item1'

In [45]:
e = {'k1':[1,2,3],'k2':'abc'}

In [46]:
e

{'k1': [1, 2, 3], 'k2': 'abc'}

In [47]:
e['k1']

[1, 2, 3]

In [48]:
e['k2']

'abc'

Get the element inside the list in the dictionary

In [49]:
my_first_element_of_k1 = e['k1'][0]

In [50]:
my_first_element_of_k1

1

### Booleans

In [51]:
True

True

In [52]:
False

False

### Tuples

Note: you cannot re-assign the items to the tuples.
'tuple' object does not support item assignment

In [53]:
t = (1,2,3)

In [54]:
t[0]

1

In [55]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [56]:
s= {1,2,3}

In [57]:
s

{1, 2, 3}

In [58]:
s.add(4)

In [59]:
s

{1, 2, 3, 4}

In [60]:
s.add(4)

In [61]:
s

{1, 2, 3, 4}

## Comparison Operators

In [62]:
1 > 2

False

In [63]:
1 < 2

True

In [64]:
1 >= 1

True

In [65]:
1 <= 4

True

In [66]:
1 == 1

True

In [67]:
'hi' == 'bye'

False

In [68]:
'hi' =="hi"

True

## Logic Operators

In [119]:
1 < 2

True

In [121]:
2 > 3

False

In [122]:
(1 > 2) and (2 < 3)

False

In [123]:
(1 > 2) or (2 < 3)

True

In [124]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [69]:
if 1 < 2:
    print('Hello!')

Hello!

In [70]:
if 1 > 2:
    print('Hello!')

It doesn't print because the statemeent 1 > 2 is False.

In [71]:
if 1 < 2:
    print('a')
else:
    print('b')

a

In [72]:
if 1 > 2:
    print('a')
else:
    print('b')

b

In [73]:
if 1 == 2:
    print('a')
elif 3 == 3:
    print('b')
else:
    print('c')

b

## for Loops

In [74]:
seq = [1,2,3,4,5]

In [135]:
for iz in seq:
    print(iz)

1
2
3
4
5

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [139]:
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [75]:
for item in seq:
    print(item+item)

2
4
6
8
10

## while Loops

In [76]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

range is the generator of numerical value

In [77]:
range(5)

range(0, 5)

In [78]:
j = range(1,5)

In [79]:
j

range(1, 5)

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [81]:
for i in range(1,5):
    print(i)

1
2
3
4

In [82]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [83]:
x = [1,2,3,4]

In [84]:
out = [] # empty list

for item in x:
    out.append(item**2)
    
print(out)

[1, 4, 9, 16]

In [85]:
ex = [item**2 for item in x]

In [86]:
ex

[1, 4, 9, 16]

## functions

Allow you not to write code again and again.

In [88]:
def my_func(name):
    
    print('Hello ' + name)

In [89]:
my_func('Rinka')

Hello Rinka

What if you want to have a default name?

In [90]:
def your_func(name ='Sasaki'):
    print('Hello ' + name)

In [91]:
your_func()

Hello Sasaki

In [93]:
your_func('Katayama')

Hello Katayama

In [97]:
def square(x):
    """
    This function is written for a demo. It returns a square of the input!
    """
    return x**2

In [98]:
out = square(2)

In [99]:
print(out)

4

Tip: Type the function name. Put the cursor at the end of that function, then press "shift" + "tap".
Do you see something useful?

In [ ]:
square

In [ ]:
your_func

In [ ]:
range

## lambda expressions

In [100]:
def times2(var):
    return var*2

In [101]:
times2(2)

4

In [102]:
def time2(var):return var*2

In [114]:
t = lambda var: var*2

In [104]:
t

In [105]:
t(2)

4

## map and filter

In [106]:
seq = [1,2,3,4,5]

In [110]:
map(times2,seq)

In [111]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [112]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [115]:
list(map(t,seq))

[2, 4, 6, 8, 10]

In [116]:
filter(lambda item: item%2 == 0,seq)

In [117]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [118]:
st = 'hello my name is Rinka!'

In [119]:
st.lower()

'hello my name is rinka!'

In [120]:
st.upper()

'HELLO MY NAME IS RINKA!'

In [121]:
st.split()

['hello', 'my', 'name', 'is', 'Rinka!']

In [122]:
Instagram = 'On diet! #diet'

In [123]:
Instagram.split()

['On', 'diet!', '#diet']

In [124]:
Instagram.split('#')

['On diet! ', 'diet']

In [126]:
Instagram.split('#')[1]

'diet'

In [127]:
d = {'k1':1,'k2':2}

In [128]:
d.keys()

dict_keys(['k1', 'k2'])

In [129]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [130]:
lst = [1,2,3]

In [131]:
lst.pop()

3

In [132]:
lst

[1, 2]

Check the element inside the list.

In [133]:
'x' in [1,2,3]

False

In [134]:
'x' in ['x','y','z']

True

tuples in the list

In [135]:
x = [(1,2),(3,4),(5,6)]

In [136]:
x

[(1, 2), (3, 4), (5, 6)]

In [137]:
x[0]

(1, 2)

In [138]:
x[0][0]

1

In [249]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [140]:
for (a,b) in x:
    print(a)

1
3
5

# お疲れ様です！